<!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a836748616.js" crossorigin="anonymous"></script>
        <title>Delete</title>
        <link rel="stylesheet" href="/styles/style.css">
      </head>


      <body id="bg3">



       <h2>Astronomers have spotted a cosmic blast!</h2>
        


      </body>


    </html>
