<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="<!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
        <title>Delete</title>
        <link rel="stylesheet" href="/style.css">
      </head>
      <body>
<h1>Astronomers have spotted a cosmic blast!</h1>
        <p>Deletion confirmed.</p>
      </body>
    </html>
