<!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <title>Discover</title>
        <link rel="stylesheet" href="/styles/style.css">

      </head>

      <body >




        <table class="documentation">
          <tr>
            <th>Planet Name</th>
            <td>Planet name most commonly used in the literature.</td>
            </tr>
            <tr>
            <th>Host Star Name</th>
            <td> The star that hosts the planet </td>
            </tr>
            <tr>
            <th>Discovery Method</th>
            <td>Method by which the planet was first identified.</td>
            </tr>
            <tr>
            <th>Number of Planets in System</th>
            <td>Number of planets in the planetary system.</td>
            </tr>
            <tr>
            <th>Orbital Period(in days)</th>
            <td>Time the planet takes to make a complete orbit around the host star or system.</td>
            </tr>
            <tr>
            <th>Orbital Period(in days)</th>
            <td>Time the planet takes to make a complete orbit around the host star or system.</td>
            </tr>
            <tr>
            <th>Gaia Distance(in parsec)</th>
            <td>Distance computed from Gaia parallax.</td>
            </tr>
            <tr>
            <th>Stellar Mass (solar mass)</th>
            <td>Amount of matter contained in the star, measured in units of masses of the Sun.</td>
            </tr>
            <tr>
            <th>Effective Temperature (K)</th>
            <td>Temperature of the star as modeled by a black body emitting the same total amount of electromagnetic radiation.</td>
            </tr>
            <tr>
            <th>Stellar Radius (solar radi)</th>
            <td>Length of a line segment from the center of the star to its surface, measured in units of radius of the Sun.</td>
            </tr>
            <tr>
            <th>Planet Mass (Earth mass)</th>
            <td>Amount of matter contained in the planet, measured in units of masses of the Earth.</td>
            </tr>
            <tr>
            <th>Planet Radius (Earth radi)</th>
            <td>Length of a line segment from the center of the planet to its surface, measured in units of radius of the Sun.</td>
            </tr>
            <tr>
            <th>Planet-Star Distance over Star Radius</th>
            <td>The distance between the planet and the star at mid-transit divided by the stellar radius. For the case of zero orbital eccentricity, the distance at mid-transit is the semi-major axis of the planetary orbit.</td>
            </tr>
            <tr>
            <th>Year of Discovery</th>
            <td>Year the planet was discovered</td>
            </tr>
            <tr>
            <th>Discovery Telescope</th>
            <td>Name of telescope of planet discovery observations</td>
            </tr>
            <tr>
            <th>Link to Exoplanet Encyclopaedia</th>
            <td>It links to the planet page in the Exoplanet Encyclopaedia.</td>
            </tr>
            <tr>
            <th>Link to Exoplanet Data Explorer</th>
            <td>It links to the planet page in Exoplanet Data Explorer.</td>
            </tr>
            <tr>
            <th>Spectral Type</th>
            <td>Classification of the star based on their spectral characteristics following the Morgan-Keenan system.</td>
            </tr>
            <tr>
            <th>Stellar Surface Gravity</th>
            <td>Gravitational acceleration experienced at the stellar surface.</td>
            </tr>
            <tr>
            <th>Stellar Luminosity [log(solar)</th>
            <td>Amount of energy emitted by a star per unit time, measured in units of solar luminosities.</td>
            </tr>
            <tr>
            <th>Stellar Density [g/cm**3]</th>
            <td>Amount of mass per unit of volume of the star.</td>
            </tr>
            <tr>
            <th>Stellar Metallicity (dex)</th>
            <td>Measurement of the metal content of the photosphere of the star as compared to the hydrogen content.	</td>
            </tr>
            <tr>
            <th>Metallicity Ratio</th>
            <td>Ratio for the Metallicity Value ([Fe/H] denotes iron abundance, [M/H] refers to a general metal content)</td>
            </tr>
            <tr>
            <th>Stellar Age [Gyr]</th>
            <td>The age of the host star.</td>
            </tr>

        </table>

       <div class="search">

        <h1>Exoplanet – Any planet beyond our solar system</h1>

        <p>Discovering thousands of planets beyond our solar system counts
          as a “eureka” moment in human exploration. But the biggest payoff is yet to
          come: capturing evidence of a distant world hospitable to life.
          We begin the search on familiar ground. On this planet, currently our sole
          example of a life-bearing world, the need for water is non-negotiable. So astronomers search the cosmos for similar environments. Around almost every “normal” star, including our sun, we can draw a band of potential habitability: the right distance and temperature for liquid water to exist. The key, of course, is a planetary surface where the water could pool. Both stars and planets come in many types and sizes, and the interplay of these factors determines the extent and influence of this “habitable zone.”</p>

          <h1>Wishing upon the right kind of star</h1>
          <p> So how is the search going?
            In just over 20 years of exploration, ground and space-based
            observations have turned up more than 3,200 confirmed exoplanets
            in the few slices of our galaxy we’ve been able to search.
            Add unconfirmed planetary candidates and the number jumps to more
            than 5,600.Many of the planets found so far are gas or ice giants, with little chance of a solid surface harboring a warm little pond. But we’ve also found some rocky worlds in Earth’s size-range. Even with the expected advances in observing technology in years to come, we’re unlikely to know the precise nature of any life we might detect, be they crusts of algae or loping, six-legged giraffes. Still, among those rocky, Earth-like worlds, we could catch tantalizing glimpses of the right conditions for life.</p>


            <p>But how can we tell if anybody's home? </p>
            <p>By looking for life in all the right places</p>
          </div>
     </div>




      </body>
    </html>
