<!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <title>Discover</title>
        <link rel="stylesheet" href="/styles/style.css">

      </head>

      <body >

        <table class="documentation">
           <caption>Planet Variables explained </caption>
          <tr>
            <th>Planet Name</th>
            <td>Planet name most commonly used in the literature.</td>
            </tr>
            <tr>
            <th>Host Star Name</th>
            <td> The star that hosts the planet </td>
            </tr>
            <tr>
            <th>Discovery Method</th>
            <td>Method by which the planet was first identified.</td>
            </tr>
            <tr>
            <th>Number of Planets in System</th>
            <td>Number of planets in the planetary system.</td>
            </tr>
            <tr>
            <th>Orbital Period(in days)</th>
            <td>Time the planet takes to make a complete orbit around the host star or system.</td>
            </tr>
            <tr>
            <th>Orbital Period(in days)</th>
            <td>Time the planet takes to make a complete orbit around the host star or system.</td>
            </tr>
            <tr>
            <th>Gaia Distance(in parsec)</th>
            <td>Distance computed from Gaia parallax.</td>
            </tr>
            <tr>
            <th>Stellar Mass (solar mass)</th>
            <td>Amount of matter contained in the star, measured in units of masses of the Sun.</td>
            </tr>
            <tr>
            <th>Effective Temperature (K)</th>
            <td>Temperature of the star as modeled by a black body emitting the same total amount of electromagnetic radiation.</td>
            </tr>
            <tr>
            <th>Stellar Radius (solar radi)</th>
            <td>Length of a line segment from the center of the star to its surface, measured in units of radius of the Sun.</td>
            </tr>
            <tr>
            <th>Planet Mass (Earth mass)</th>
            <td>Amount of matter contained in the planet, measured in units of masses of the Earth.</td>
            </tr>
            <tr>
            <th>Planet Radius (Earth radi)</th>
            <td>Length of a line segment from the center of the planet to its surface, measured in units of radius of the Sun.</td>
            </tr>
            <tr>
            <th>Planet-Star Distance over Star Radius</th>
            <td>The distance between the planet and the star at mid-transit divided by the stellar radius. For the case of zero orbital eccentricity, the distance at mid-transit is the semi-major axis of the planetary orbit.</td>
            </tr>
            <tr>
            <th>Year of Discovery</th>
            <td>Year the planet was discovered</td>
            </tr>
            <tr>
            <th>Discovery Telescope</th>
            <td>Name of telescope of planet discovery observations</td>
            </tr>
            <tr>
            <th>Link to Exoplanet Encyclopaedia</th>
            <td>It links to the planet page in the Exoplanet Encyclopaedia.</td>
            </tr>
            <tr>
            <th>Link to Exoplanet Data Explorer</th>
            <td>It links to the planet page in Exoplanet Data Explorer.</td>
            </tr>
            <tr>
            <th>Spectral Type</th>
            <td>Classification of the star based on their spectral characteristics following the Morgan-Keenan system.</td>
            </tr>
            <tr>
            <th>Stellar Surface Gravity</th>
            <td>Gravitational acceleration experienced at the stellar surface.</td>
            </tr>
            <tr>
            <th>Stellar Luminosity [log(solar)</th>
            <td>Amount of energy emitted by a star per unit time, measured in units of solar luminosities.</td>
            </tr>
            <tr>
            <th>Stellar Density [g/cm**3]</th>
            <td>Amount of mass per unit of volume of the star.</td>
            </tr>
            <tr>
            <th>Stellar Metallicity (dex)</th>
            <td>Measurement of the metal content of the photosphere of the star as compared to the hydrogen content.	</td>
            </tr>
            <tr>
            <th>Metallicity Ratio</th>
            <td>Ratio for the Metallicity Value ([Fe/H] denotes iron abundance, [M/H] refers to a general metal content)</td>
            </tr>
            <tr>
            <th>Stellar Age [Gyr]</th>
            <td>The age of the host star.</td>
            </tr>

        </table>

       <div >

         <table class="documentation">
            <caption>Astonomical Sizes For Exoplanets </caption>
           <tr>
             <th>Earth or smaller</th>
             <td>0 to 1.25 times Earth size</td>
             </tr>
             <tr>
             <th>Super-Earth</th>
             <td> 1.25 to 2 times Earth size </td>
             </tr>
             <tr>
             <th>Mini-Neptune</th>
             <td>2 to 4 times Earth size</td>
             </tr>
             <tr>
             <th>Neptune</th>
             <td>4-6 times Earth size</td>
             </tr>
             <tr>
             <th>Jupiter</th>
             <td>6-15 times Earth size</td>
             </tr>
             <tr>
             <th>Super giant</th>
             <td>More than 15 times Earth size</td>
             </tr>



         </table>

        
          </div>





      </body>
    </html>
