<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a836748616.js" crossorigin="anonymous"></script>
  <title>Explore</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>


<body id="bg2">

 <div class="search">
   <h1>Functionality</h1>
  <p>This Explanets app in and educational astronomy app that presents all up to date
  confirmed exoplanets and their basic details
  in a way that  allows the search through data and discover habitable
  planets by certain criteria .</p>


  <p>1)The database used to create this service is an endless work in progress as we discover more
   exoplanets every day.
  In the app new planets and details can be added , removed and also updated manually and automatically
  through the NASA API.<p/>

  <p>2)Exploring exoplanets :
  You can retreave all confirmed exoplanets by their Star host and access details
   such as
  plus Links to Exoplanet Data Encyclopaedia</p>

  <p>3)Explore all planets in each basic astronomic size categories:</p>

  <p>4)Explore habitable planets and Stars that can host habitable worlds
  by certain criteria.As you add new planets or update planet details
  you will be getting back even more or different results.</p>

  <p>5)Filter stars with at least one planet in their habitable zone.</p>

</div>

   <div class="form">
  <form  method="post" action="/result_presentation">

    <select class="select-css" id="find_operation" name="find_operation">
      <option value="host_stars">Stars that could host habitable wolds</option>
      <option value="habitable_exoplanets">Habitable Planets</option>
      <option value="retrieve_all_planets">All Planets</option>
      <option value="earth_size_planets">Explore all Earth size planets</option>
      <option value="superearth_size_planets">Explore all Super-Earths</option>
      <option value="mini_neptune_size_planets">Explore all Mini-Neptunes</option>
      <option value="neptune _size_planets">Explore all Neptune size planets</option>
      <option value="jupiter_size_planets">Explore all Jupiter  size planets</option>
      <option value="super_giant_size_planets">Explore all Super giants </option>
      <option  value="planets_in_habitable_zone">Stars with planets in their habitable zone </option>
    </select>
    <br>
    <br>
    <input  id="button" type="submit" >

  </form>
   </div>
   <br>

 <div class="insert">

  <p><a href="/insert"><i class="fab fa-sketch"></i>Insert new planet</a>

    <a href="/"><i class="fab fa-sketch"></i>Take me Home</a></p>

 </div>
</body>
</html>
