<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
  <title>Explore</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <form method="post" action="/result_presentation">
    <select id="find_operation" name="find_operation">
      <option value="host_stars">Find host Stars</option>
      <option value="habitable_exoplanets">Habitable Planets</option>
      <option value="retrieve_all_planets">All Planets</option>
      <option value="earth_size_planets">Explore all Earth size planets</option>
      <option value="superearth_size_planets">Explore all Super-Earths</option>
      <option value="mini_neptune_size_planets">Explore all Mini-Neptunes</option>
      <option value="neptune _size_planets">Explore all Neptune size planets</option>
      <option value="jupiter_size_planets">Explore all Jupiter  size planets</option>
      <option value="super_giant_size_planets">Explore all Super giants </option>

    </select>
    <input type="submit" >
  </form>


  <p><a href="/insert">Insert new planet.</a></p>

</body>
</html>
